*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.contacto :hover{
    background-color: green;

}
.about :hover{
    background-color: green;

}

@font-face {
    font-family: DancingScript;
    src: url('../fonts/DancingScript.ttf');
  }

.about,.contacto{
    background-color: darkorchid;

}
nav{
    background-color: orangered;
    height: 80px;
}

.logo{
    font-family: DancingScript;
    font-size: 40px;
    float: left;
    padding-left: 20px;
}
ul{
    display: inline;
    height: 100%; 
}

li{
    height: 100%;
    float: right;
    display:inline;
    padding: auto;
}
li a{
    display: block;
    height: 100%;
    text-decoration: none;
    color: white;
    padding: 10px;
}