<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PizzaYa</title>
    <link rel="stylesheet" href="assets/styles.css">
</head>

<body>

    <nav class="menu">
        <ul>
            <li class="logo"><a href="#">PizzaYa <sup>&reg;</sup></a></li>            
        </ul>
        <ul>
            <li class="about"><a href="#" >Sobre nosotros</a></li>
            <li class="contacto"><a href="#" >Contacto</a></li>
        </ul>
    </nav>
    <div class="contentop">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem quo minima labore, error repellendus asperiores iure temporibus pariatur ab omnis!
    </div>
    <div class="draws">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, quaerat?
    </div>
    <footer>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, doloribus excepturi.
    </footer>
</body>

</html>